{{ define "content" }}

<div class="card">
  <div class="card-header">
    <a href="/tasks/new" role="button" class="btn btn-outline-info">タスク作成</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">UpdatedAt</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
        <th scope="row">{{ .ID }}</th>
        <td>{{ .Name }}</td>
        <td>{{ .Description }}</td>
        <td>{{ .CreatedAtDate }}</td>
        <td>{{ .UpdatedAtDate }}</td>
        <td>
          <a href="/tasks/edit?id={{ .ID }}" role="button" class="btn btn-outline-primary">編集</a>
          <a href="/tasks/delete?id={{ .ID }}" role="button" class="btn btn-outline-danger">削除</a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{ end }}
